@inject IJSRuntime JSRuntime

<div class="theme-switcher">
    <button @onclick='() => ChangeTheme("mecha")'>Mecha</button>
    <button @onclick='() => ChangeTheme("pink")'>Pink</button>
    <button @onclick='() => ChangeTheme("animal")'>Animal</button>
    <button @onclick='() => ChangeTheme("minimalism")'>Minimal</button>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("getInitialTheme");
        }
    }

    private async Task ChangeTheme(string themeName)
    {
        // Use a more specific key to avoid conflicts with other apps
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "selectedProfileTheme", themeName);
        await JSRuntime.InvokeVoidAsync("applyTheme", themeName);
    }
}